<section
  class="flex items-center justify-center min-h-[585px] p-4 lg:px-[76px] lg:py-9 bg-gradient-to-r from-[#FCF9F6] to-white"
>
  <div class="max-w-7xl w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3">
      <div
        *ngFor="let service of services"
        class="flex items-center justify-center flex-col min-w-[331px] min-h-[245px]"
      >
        <div>
          <img [src]="service.icon" [alt]="service.title" />
        </div>
        <div class="mt-7 text-primary-700 text-[32px]">
          {{ service.title }}
        </div>
        <div class="text-primary-600 text-[22px] text-center mt-4">
          {{ service.text }}
        </div>
      </div>
    </div>
  </div>
</section>
