<section
  class="flex items-center justify-center min-h-[585px] p-4 md:px-[76px] md:py-9 bg-gradient-to-r from-[#FCF9F6] to-white"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 items-center justify-between max-[960px] mt-9"
  >
    <div class="hidden md:flex">
      <img
        class="w-24 h-24 md:w-[495px] md:h-[525px]"
        src="../../../../assets/images/login-image-1.png"
        alt="login image"
      />
    </div>
    <div class="p-16">
      <div class="w-full text-center text-3xl text-[#334756]">
        Forgot Password
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <FormInput
          formControlName="email"
          icon="assets/icons/lock.svg"
        ></FormInput>
        <div class="text-base text-[#334756] text-right mr-4 mt-2">
          <a [routerLink]="loginUrl" class="hover:text-primary-900">Login</a>
        </div>
        <button
          class="bg-primary-900 rounded-full text-white w-full h-[52px] mt-11"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
