<section
  class="flex items-center justify-center p-4 lg:px-[76px] lg:py-9 mb-[125px]"
>
  <div class="max-w-7xl w-full lg:mt-9 h-full">
    <div class="w-full mb-4 md:mb-[50px]">
      <Breadcrumb [items]="breadcrumb"></Breadcrumb>
    </div>
    <div class="flex w-full">
      <ProductFilter class="hidden sm:block"></ProductFilter>
      <div class="w-full lg:pl-10">
        <ProductSearch></ProductSearch>
        <ProductSort></ProductSort>
        <ProductList></ProductList>
      </div>
    </div>
  </div>
</section>
