<section class="flex items-center justify-center bg-primary-300">
  <div
    class="max-w-7xl flex flex-col items-center justify-center p-8 md:px-[181px] md:py-[96px]"
  >
    <div class="text-xl md:text-5xl font-bold">
      What Our Costumers Are Saying
    </div>
    <div class="mt-4 md:mt-24 flex justify-between flex-col md:flex-row">
      <div
        class="w-24 md:w-full overflow-hidden rounded-full m-auto h-24 md:min-w-[323px] md:h-[440px]"
      >
        <img
          src="assets/images/feedback-1.png"
          alt="feedback image"
          class="mx-auto"
        />
      </div>
      <div class="flex flex-col pt-4 md:pt-0 md:ml-16">
        <div class="text-xl md:text-4xl">Help us Improve our productivity</div>
        <div class="mt-4 md:mt-14">
          <div
            class="text-sm md:text-[22px] leading-6 md:leading-[40px] text-primary-600"
          >
            <span class="text-primary-900 text-md md:text-[40px]">”</span>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              consectetur, purus id tincidunt feugiat, metus orci sagittis elit,
              quis tempor orci elit id arcu. Proin egestas bibendum efficitur.
            </span>
            <span class="text-primary-900 text-md md:text-[40px]">”</span>
          </div>
          <div class="text-2xl font-bold text-primary-600 mt-4">
            Adriana Lopez
          </div>
          <div class="text-primary-600">Client</div>
        </div>
      </div>
    </div>
  </div>
</section>
