<section class="flex items-center justify-center h-[585px] px-[76px] py-9 bg-gradient-to-r from-[#FCF9F6] to-white">
  <div class="flex items-center justify-between max-w-7xl">
    <div class="w-[587px] mr-16 ">
      <div class="font-bold text-[60px] leading-[80px]">Logitech G Pro X Superlight</div>
      <div class="text-base text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh
        erat
      </div>
    </div>
    <div>
      <img src="assets/images/mouse.png" alt="hero image" />
    </div>
  </div>
</section>
