<section
  class="flex items-center justify-center p-4 lg:px-[76px] lg:py-9 mb-[125px]"
>
  <div class="max-w-7xl w-full lg:mt-9 h-full">
    <div class="w-full mb-[50px]">
      <Breadcrumb [items]="breadcrumb"></Breadcrumb>
    </div>
    <div
      class="grid gap-10 items-center grid-cols-1 lg:grid-cols-2 w-full h-full"
    >
      <div class="m-auto">
        <img
          class="w-full max-w-[625px]"
          src="assets/images/about-1.png"
          alt="about image"
        />
      </div>
      <div class="flex justify-between items-center flex-col md:ml-10 h-full">
        <div class="text-primary-600 text-left w-full">
          <span class="font-bold text-xl md:text-[40px]"> OUR TEAM </span>
          <div class="h-0.5 w-[100px] bg-primary-600"></div>
        </div>
        <div
          class="underline text-primary-600 text-[18px] my-auto leading-7 md:leading-10"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac
          ornare nisl, a ornare ipsum. Vivamus venenatis sodales sapien, ut
          condimentum ante ultricies et. Orci varius natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Nunc cursus
          pellentesque arcu sit amet placerat. Cras ut erat aliquet, suscipit
          tellus vitae, tempus magna.
        </div>
      </div>
    </div>
  </div>
</section>
