<div
  class="fixed top-0 left-0 z-30 flex items-center justify-center w-full bg-primary-300 md:h-[115px] p-4 w-screen"
>
  <div class="w-full flex items-center justify-between max-w-7xl">
    <div
      class="text-xl md:text-3xl leading-9 font-bold cursor-pointer"
      [routerLink]="homeUrl"
    >
      Shoply.
    </div>
    <nav
      class="flex items-center justify-between max-w-[427px] w-full hidden md:flex"
    >
      <ng-container *ngFor="let link of links; let linkIndex = index">
        <div *ngIf="linkIndex">
          <span>/</span>
        </div>
        <div
          class="text-primary-600 cursor-pointer hover:text-red-600 text-base leading-5 decoration-2 underline underline-offset-8"
          [routerLink]="link.to"
          routerLinkActive="font-bold text-primary-900"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span>
            {{ link.text | translate }}
          </span>
        </div>
      </ng-container>
    </nav>
    <div class="flex items-center hidden md:flex">
      <CartBtn *ngIf="loggedIn$ | async"></CartBtn>
      <AuthButtons></AuthButtons>
    </div>
    <ToggleMenuButton></ToggleMenuButton>
    <MobileMenu [items]="links"></MobileMenu>
    <LanguageSwitcher></LanguageSwitcher>
  </div>
</div>
