<ng-container *ngIf="!isLoginPage">
  <ng-container *ngIf="loggedIn$ | async; else loginBtn">
    <span>{{ userName }}</span>

    <button
      class="ml-4 w-[113px] bg-primary-900 text-white h-10"
      (click)="logout()"
    >
      Logout
    </button>
  </ng-container>

  <ng-template #loginBtn>
    <button
      class="w-[113px] bg-primary-900 text-white h-10"
      (click)="goToLogin()"
    >
      {{ "pages.login.loginBtnText" | translate }}
    </button>
  </ng-template>
</ng-container>
