<section class="flex items-center justify-center px-[76px] py-9 mb-[125px]">
  <div class="max-w-7xl w-full mt-9 h-full">
    <div class="w-full mb-[50px]">
      <Breadcrumb [items]="breadcrumb"></Breadcrumb>
    </div>
    <div class="flex w-full">
      <div class="w-full">
        <ng-container *ngIf="count | async; else EmptyPageContent">
        <div class="grid grid-cols-4 text-center font-bold">
          <div>Product</div>
          <div>Price</div>
          <div>Quantity</div>
          <div>Total</div>
        </div>
        <div
          *ngFor="let item of cart  | async; trackBy: trackById"
          class="grid grid-cols-4 bg-[#F8F8F8] mt-[30px]"
        >
          <div class="p-5">
            <div class="flex items-center w-fit">
              <div class="w-[123px] h-[123px]">
                <img [src]="item.product.imageUrl" alt="" />
              </div>
              <div class="ml-4">{{ item.product.name }}</div>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <div class="w-full flex items-center justify-center">
              {{ item.product.price }}
            </div>
          </div>
          <div class="w-full flex items-center justify-center">
            <button class="text-3xl disabled:text-gray-300 select-none" (click)="reduceQuantity(item.id)" [disabled]="item.quantity<=1">-</button>
            <input  (blur)="updateItem(item)" inputmode="numeric" pattern="\d*"  class="border rounded-sm border-black p-1 mx-3 w-10 select-none w-fit max-w-fit flex" type="text" [(ngModel)]="item.quantity">
            <button class="text-3xl disabled:text-gray-300 select-none" (click)="increaseQuantity(item.id)">+</button>
          </div>
          <div class="w-full flex items-center justify-center" (click)="removeItem(item.id)">
            <img src="assets/icons/delete.svg" alt="" />
          </div>
        </div>
        </ng-container>
        <ng-template #EmptyPageContent>There are no items. </ng-template>
        <ng-container *ngIf="subtotal | async">
        <div class="flex items-center justify-end mt-[95px]">
          <div class="px-[59px] py-7 bg-[#F8F8F8]">
            <table class="w-[350px]">
              <tr class="font-bold">
                <td class="p-2">Subtotal</td>
                <td class="p-2 text-center">:</td>
                <td class="p-2 text-end">${{subtotal | async}}</td>
              </tr>
              <tr>
                <td class="p-2">Shopping Free</td>
                <td class="p-2 text-center">:</td>
                <td class="p-2 text-end">${{discount | async}}</td>
              </tr>
              <tr class="font-bold border-t py-2 text-lg">
                <td class="p-2">Total Order</td>
                <td class="p-2 text-center">:</td>
                <td class="p-2 text-end">${{total | async}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="flex items-center justify-end mt-20">
          <button class="w-[131px] h-[50px] border border-[#393D45]">Close</button>
          <button class="w-[131px] h-[50px] bg-[#393D45] text-gray-100 ml-6">Check Out</button>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
