<section class="px-[74px] py-[64px] bg-primary-300">
  <div class="flex flex-col items-center justify-center">
    <div class="text-5xl leading-[60px] font-bold">Product</div>
    <div class="grid grid-cols-4 gap-[72px] mt-[73px]">
      <ProductCard
        *ngFor="let product of products"
        [product]="product"
      ></ProductCard>
    </div>
    <div class="mt-16">
      <button
        class="uppercase bg-primary-700 text-white w-[218px] h-[54px] rounded-sm flex items-center justify-center"
      >
        <div>All product</div>
        <div class="ml-2">
          <img src="assets/icons/arrow-right.svg" alt="arrow right icon" />
        </div>
      </button>
    </div>
  </div>
</section>
