<nav
  *ngIf="show | async"
  class="fixed top-16 left-0 bottom-0 bg-white w-screen md:hidden flex items-center justify-between flex-col"
>
  <ul class="w-full">
    <li
      class="py-4 text-center border-b-2 border-gray-100"
      *ngFor="let item of items"
      (click)="hide()"
      routerLinkActive="font-bold"
      [routerLink]="item.to"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ item.text }}
    </li>
  </ul>
  <div class="py-2">
    <AuthButtons
      (loginBtnClick)="hide()"
      (logoutBtnClick)="hide()"
    ></AuthButtons>
  </div>
</nav>
