<div>
  <div class="relative" *ngIf="product">
    <img [src]="product.imageUrl" alt="product image" class="w-full" />
    <div
      class="absolute bottom-0 left-0 w-full flex items-center justify-center p-2 sm:pb-4"
    >
      <div class="max-w-[205px] w-full">
        <button
          class="bg-primary-700 rounded-xl uppercase text-white h-9 max-w-[138px] w-full"
          [routerLink]="productUrl"
        >
          detail
        </button>
      </div>
      <div class="ml-2">
        <button
          class="h-9 bg-white rounded-xl w-[52px] flex items-center justify-center"
          (click)="addToCart()"
        >
          <img
            src="assets/icons/cart.svg"
            class="w-[22px] h-6"
            alt="cart icon"
          />
        </button>
      </div>
    </div>
  </div>
  <div>
    <ng-content></ng-content>
  </div>
</div>
