name: Production

on:
  push:
    tags:
      - '*'

jobs:
  check:
    uses: Nano-IT/workflows/.github/workflows/check.yml@v1

  build:
    needs: check
    uses: Nano-IT/workflows/.github/workflows/build.yml@v1

  deploy:
    needs: build
    uses: Nano-IT/workflows/.github/workflows/deploy-prod.yml@v1
    secrets: inherit

